name: Mac OS Build

on:
  push:
    branches: [ main, develop, feature/* ]
  pull_request:
    branches: [ main, develop, feature/* ]

jobs:
  build-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        build-type: [Debug, Release]
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Install dependencies
      run: brew install cmake ninja
    
    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -G Ninja -DBUILD_TESTS=OFF
    
    - name: Build
      run: cmake --build build --config ${{ matrix.build-type }}
